#login-form {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
}

#login-form input {
  border-style: none;
  width: 200px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
  margin-right: 20px;
  border-radius: 20px;
  padding: 0px 15px;
  font-size: 20px;
}

#login-form input:focus {
  outline: none;
  transform: scale(1.1, 1.1);
}

#login-form button {
  width: 75px;
  border: solid #6f79a8;
  font-size: 18px;
  font-weight: 600;
  color: #6f79a8;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  background-color: white;
}

#login-form button:hover {
  cursor: pointer;
  outline: none;
  transform: scale(1.1, 1.1);
  border-style: none;
  color: white;
  background-color: #6f79a8;
}
